<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div align="center">
    <img height="250" src="https://cdn.dribbble.com/users/1162077/screenshots/3848914/programmer.gif"  />
  </div>

  ###
  
  <h1 align="center">Hola <img src="https://user-images.githubusercontent.com/18350557/176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif" alt="" height="25" >, mi nombre es Josimar y soy Desarrollador Web Full Stack</h1>
  
  ###

  <h3 align="left">👩‍💻  Sobre mi </h3>
  
  ###

  Soy ingeniero informático & desarrollador Full Stack, me especializo en crear aplicaciones web, me esfuerzo por aprender de manera rápida y trabajo en equipo, se delegar responsabilidades y colaborar con mis compañeros de trabajo. Transformar mi creatividad y conocimiento en una aplicación ha sido mi pasión por más de 4 años, puedo desarrollar aplicaciones desde cero y convertirlos en experiencias web modernas y fáciles de usar, he desarrollado proyectos freelance para empresas locales y organismos gubernamentales del sector educación en mi país, tales como portales web y sistemas de gestión administrativa.

  ###
  
  
  *   🌍  Soy de Perú
  *   🖥️  Revisa mi [portafolio](https://jclopez.github.io)
  *   ✉️  Enviame un mensaje a [dev.jclopez@gmail.com](mailto:dev.jclopez@gmail.com)
  *   <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" height="16" alt="linkedin logo"  /> Revisa mi [LinkedIn](https://www.linkedin.com/in/jcastrolopez/)
  *   🧠  Aprendiendo Next Js
  *   🤝  Disponible para colaborar o en busca de nuevas oportunidades
  
  ### 
  
  
  <h3 align="left">💻 Tech Stack:</h3>
  
  ###
               
  <div align="left">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" height="40" alt="react logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg" height="40" alt="redux logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" height="40" alt="nodejs logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" height="40" alt="mongodb logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="40" alt="javascript logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" height="40" alt="html5 logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" height="40" alt="css3 logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" height="40" alt="sass logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" height="40" alt="bootstrap logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" height="40" alt="java logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" height="40" alt="spring logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" height="40" alt="postgresql logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" height="40" alt="mysql logo"  />
    <img width="8" />
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" height="40" alt="php logo"  />
  </div>

###

<h3 align="left">📊 GitHub Stats:</h3>

###

<div align="left">
  <img src="https://github-readme-stats.vercel.app/api?username=Devjclopez19&hide_title=false&hide_rank=false&show_icons=true&count_private=true&disable_animations=false&theme=default&locale=en&hide_border=false&order=1" height="200" alt="stats graph"  />
  <img src="https://github-readme-stats.vercel.app/api?username=Devjclopez19&show_icons=true&hide=&count_private=true&title_color=0891b2&text_color=444e59&icon_color=0891b2&bg_color=ffffff&hide_border=true&show_icons=true" alt="Devjclopez19's GitHub stats" />
  <img src="https://github-readme-stats.vercel.app/api/top-langs?username=Devjclopez19&locale=en&hide_title=false&layout=compact&card_width=280&langs_count=6&theme=default&hide_border=false&order=2" height="200" alt="languages graph"  />
</div>

###

</body>
</html>